@model IEnumerable<CaferiaApp.Models.Order>

@{
    ViewData["Title"] = "Orders";
}

@section Css {
    @{await Html.RenderPartialAsync("_DataTableCssPartial");}
}

@section Sole {
    <style>


        .table tr th:last-child {
            width: 50px;
        }

        .table tr th {
            text-align: center;
        }

        .table tr td {
            text-align: center;
        }
    </style>
}

<div class="container-fluid mt-4">
    <div class="card animated fadeIn overflow-hidden">
        <div class="card-header p-3">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="mb-0 skewed skewed-yellow text-dark d-inline-block text-uppercase ls-1">Orders</h3>
                </div>

            </div>
        </div>
        <div class="card-body px-0 pb-2">
            <div class="table-responsive">

                <table class="table align-items-center  table-striped table-bordered" id="datatable-basic">
                    <thead class="thead-light">
                        <tr>

                            <th>
                                S/L
                            </th>
                            <th>
                                Order Item
                            </th>
                            <th>
                                Date
                            </th>
                            
                            <th>
                                Phone
                            </th>

                          
                            <th>
                                Total
                            </th>
                            <th>
                                Discount
                            </th>

                            <th>
                                Net Payable
                            </th>
                            <th>
                                Order Type
                            </th>

                            <th>
                                Special Instruction
                            </th>


                            <th class="text-center">
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int i = 0;
                        }

                        @foreach (var item in Model)
                        {
                            i++;
                            <tr>

                                <td>
                                    @i
                                </td>
                                <td>
                                    @if (item.OrderItem.Count != 0)
                                    {
                                        foreach (var orderItem in item.OrderItem)
                                        {
                                            <label>@orderItem.Item.Name @orderItem.Quantity Pcs ,  </label>
                                        }


                                    }


                                </td>
                             
                                <td>
                                    @String.Format("{0:dd-MM-yyyy}", item.OrderDate)
                                </td>

                               
                                <td>
                                    @item.ContactNo
                                </td>
                              
                                <td>
                                    @item.TotalAmount
                                </td>
                                <td>
                                    @item.DiscountAmount
                                </td>
                                <td>
                                    @{
                                        double netPayable = item.TotalAmount - item.DiscountAmount;
                                    }

                                    @netPayable
                                </td>
                                @if (item.OrderType == 2)
                                {
                                    <td>COD</td>
                                }
                                else
                                {
                                    <td>Caferia Wallet</td>
                                }
                                <td>
                                    @item.Remarks
                                </td>


                                <td class="text-center">
                                    <div class="btn-group">
                                        @if (item.OrderStatus == 1)
                                        {
                                            <a class="btn btn-success btn-sm">Order Confirmed</a>
                                        }
                                        else
                                        {
                                            <a class="btn btn-danger btn-sm">Declined</a>
                                        }
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>



            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script asp-append-version="true" type="text/javascript" src="~/vendor/datatable/js/jquery.dataTables.min.js"></script>
    <script asp-append-version="true" type="text/javascript" src="~/vendor/datatable/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript">

    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
